################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bandenbot/.vs/bandenbot/v14/.suo
