################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bandenbot/.vs/bandenbot/v14/.suo
/bandenbot/.vs/restore.dg
/bandenbot/src/bandenbot/config.json
